<div [formGroup]="form" class="f-width">

  <div class="p-field">
    <label [for]="oldPassword">{{ fieldLabel(oldPassword) | translate | req }}</label>
    <input class="f-width" type="password" pInputText [id]="oldPassword" [formControlName]="oldPassword" required/>
    <small class="p-invalid"
           *ngIf="haseError(oldPassword, requiredControl)">{{ i18nReqError(oldPassword) | translate }}</small>
    <small class="p-invalid"
           *ngIf="haseError(oldPassword, minLengtControl)">{{ i18nConstantes.minCharError | translate: {min: passwordMinLength} }}</small>
    <small class="p-invalid"
           *ngIf="haseError(oldPassword, maxLengthControl)">{{ i18nConstantes.maxCharError | translate: {max: maxLength} }}</small>
  </div>

  <div class="p-field">
    <label [for]="newPassword">{{ fieldLabel(newPassword) | translate | req }}</label>
    <input class="f-width" type="password" pInputText [id]="newPassword" [formControlName]="newPassword" required/>
    <small class="p-invalid"
           *ngIf="haseError(newPassword, requiredControl)">{{ i18nReqError(newPassword) | translate }}</small>
    <small class="p-invalid"
           *ngIf="haseError(newPassword, minLengtControl)">{{ i18nConstantes.minCharError | translate: {min: passwordMinLength} }}</small>
    <small class="p-invalid"
           *ngIf="haseError(newPassword, maxLengthControl)">{{ i18nConstantes.maxCharError | translate: {max: maxLength} }}</small>
  </div>

  <div class="p-field">
    <label [for]="repeatPassword">{{ fieldLabel(repeatPassword) | translate | req }}</label>
    <input class="f-width" type="password" pInputText [id]="repeatPassword" [formControlName]="repeatPassword"
           required/>
    <small class="p-invalid"
           *ngIf="haseError(repeatPassword, requiredControl)">{{ i18nReqError(repeatPassword) | translate }}</small>
    <small class="p-invalid"
           *ngIf="haseError(repeatPassword, minLengtControl)">{{ i18nConstantes.minCharError | translate: {min: passwordMinLength} }}</small>
    <small class="p-invalid"
           *ngIf="haseError(repeatPassword, maxLengthControl)">{{ i18nConstantes.maxCharError | translate: {max: maxLength} }}</small>
    <small class="p-invalid"
           *ngIf="haseError(repeatPassword, confirmedValidator)">{{i18nError('notIdentiquePassword') | translate }}</small>
  </div>
</div>
