<p-dialog (onShow)="onShow()" (onHide)="onHide()" resizable="true" [(visible)]="visible" [style]="{width: '450px'}"
          [header]="header ? header : 'inputPassword' | translate" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="password">{{ 'user.fields.password' | translate | req }}</label>
      <input [formControl]="passwordControl" type="password" pInputText id="password"/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <app-modal-button
      [disabled]="!passwordControl.value ||  passwordControl.value.length < passwordMinLength"
      [validateLabel]="validateButtonLabel ? validateButtonLabel : i18nConstantes.validate | translate"
      (validateEvent)="onValidate()"
      [forUpdate]="false"
      (cancelEvent)="onHide()">
    </app-modal-button>
  </ng-template>
</p-dialog>
