<p-menu #menu [popup]="true" [model]="modalItems"></p-menu>
<p-contextMenu #cm [model]="modalItems"></p-contextMenu>
<p-confirmDialog [position]="deleteConfirmDialogPosition" [key]="constantes.deleteConfirmDialogKey"
                 [baseZIndex]="10000"></p-confirmDialog>

<div class="card" style="margin: 2rem">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">

      <h5 class="p-m-0">{{i18nElement('title') | translate}}</h5>
    </ng-template>

    <div>
      <button *ngIf="haseAddRole" pButton pRipple [label]="i18nConstantes.new | translate" icon="fa fa-plus fa-lg" class="p-button-success p-mr-2"
              (click)="enableDialog()"></button>
      <button *ngIf="haseDeleteRole" [disabled]="validateEntries().length === 0" pButton pRipple icon="fa fa-trash fa-lg" class="p-button-danger p-mr-2"
              (click)="enablePasswordConfirmation(action.DELETE_ALL)"></button>
      <button *ngIf="haseActiveRole" [disabled]="validateEntries().length === 0"  pButton pRipple icon="fa fa-check fa-lg" class="p-button-success p-mr-2"
              (click)="enablePasswordConfirmation(action.ENABLE_ALL)"></button>
      <button *ngIf="haseDisabledRole" [disabled]="validateEntries().length === 0" pButton pRipple icon="fa fa-ban fa-lg" class="p-button-danger"
              (click)="enablePasswordConfirmation(action.DISABLE_ALL)"></button>

      <button pButton pRipple icon="fa fa-ban fa-lg" class="p-button-success" (click)="enableUpdatePasswordDialog()"></button>
    </div>

    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target['value'], 'contains')"
                               [placeholder]="(i18nConstantes.search | translate) + '...'"/>
                    </span>
    </ng-template>
  </p-toolbar>


  <p-table #dt [(selection)]="selectedEntities"
           [lazy]="true"
           (onPage)="onPage($event)"
           (onSort)="onSort($event)"
           (onFilter)="onFilter($event)"
           [totalRecords]="provider.getEnvService().totalElement$ | async"
           [resizableColumns]="true"
           columnResizeMode="expand"
           [loading]="loading"
           [globalFilterFields]="['name','userName','email','profile.name','createdAt']"
           [paginator]="true"
           [rowHover]="true"
           [rowsPerPageOptions]="constantes.rowsPerPageOptions"
           [rows]="constantes.rowsPerPageOptions[0]"
           [filterDelay]="800"
           [showCurrentPageReport]="true"
           [value]="provider.getEnvService().pageElements$ | async"
           [(contextMenuSelection)]="entity"
           [contextMenu]="showContextMenuOption() ? cm : null"
           [currentPageReportTemplate]="i18nConstantes.toatalElement | translate: {value: provider.getEnvService().totalElement$ | async} "
           dataKey="id"
           [styleClass]="showContextMenuOption() ?'p-datatable-sm' : ''">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">{{ fieldLabel('name') | translate}}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="userName">{{ fieldLabel('userName') | translate}}
          <p-sortIcon field="userName"></p-sortIcon>
        </th>

        <th pSortableColumn="email">{{ fieldLabel('email') | translate}}
          <p-sortIcon field="email"></p-sortIcon>
        </th>

        <th pSortableColumn="profile.name">{{ fieldLabel('profile') | translate}}
          <p-sortIcon field="profile.name"></p-sortIcon>
        </th>

        <th pSortableColumn="profile.name">{{ fieldLabel('status') | translate}}
          <p-sortIcon field="active"></p-sortIcon>
        </th>

        <th pSortableColumn="createdAt">{{ i18nConstantes.createdAt | translate}}
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th *ngIf="showContextMenuOption()">{{i18nConstantes.actions | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr (contextmenu)="setEntity(user, $event)" [pContextMenuRowDisabled]="!showItemContextMenu(user)" (click)="setEntity(user, $event)" [pContextMenuRow]="user">
        <td>
          <p-checkbox *ngIf="!showItemContextMenu(user)" [disabled]="true"></p-checkbox>
          <p-tableCheckbox *ngIf="showItemContextMenu(user)" [value]="user"></p-tableCheckbox>
        </td>
        <td>{{user.name}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.profile.name}}</td>
        <td>
          <span style="min-width: 70%" *ngIf="user.status === userState.ACTIVE" class="p-tag p-tag-success">{{activateLabel }}</span>
          <span style="min-width: 70%" *ngIf="user.status === userState.DESACTIVE" class="p-tag p-tag-warning">{{ disableLabel}}</span>
          <span style="min-width: 70%" *ngIf="user.status === userState.BLOQUE" class="p-tag p-tag-danger">{{ blockedLabel}}</span>
        </td>
        <td>{{dateHelpers.dateToDMYHMS(user.createdAt)}}</td>
        <td *ngIf="showContextMenuOption()">
          <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"
                  (click)="setEntity(user,$event, menu)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-refresh" (click)="reload()" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
    <!--<ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Au total il y'a {{ provider.getEnvService().totalElement$ | async }} profile.
      </div>
    </ng-template>-->
  </p-table>
</div>


<div *ngIf="showFormDialog && ((haseAddRole &&  !entity.id) || (haseEditRole && entity.id)) ">
  <p-dialog (onHide)="disabledDialog()" resizable="true" [(visible)]="showFormDialog" [style]="{width: '450px'}"
            header="Ajouter un utilisateur" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <app-user-form #formComponent
                     [entity]="entity"
                     (updateEvent)="disabledDialog()"
                     (saveEvent)="disabledDialog()">
      </app-user-form>
    </ng-template>

    <ng-template pTemplate="footer">
      <app-modal-button
        [disabled]="isNotValidForm()"
        (validateEvent)="isValidPassword ? saveOrUpdate(lastPassword) : enablePasswordConfirmation(action.FOR_ACTION)"
        [forUpdate]="!!entity && !!entity.id"
        (cancelEvent)="disabledDialog()">
      </app-modal-button>
    </ng-template>
  </p-dialog>
</div>


<div *ngIf="showUpdatePasswordDialog">
  <p-dialog (onHide)="disableUpdatePasswordDialog()" resizable="true" [(visible)]="showUpdatePasswordDialog" [style]="{width: '450px'}"
            [header]="entity && entity.id ? editUserHeader : addUserHeader" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <app-update-password #updatePasswordComponent
                     [entity]="entity"
                     (saveEvent)="disableUpdatePasswordDialog()">
      </app-update-password>
    </ng-template>

    <ng-template pTemplate="footer">
      <app-modal-button
        [disabled]="updatePasswordComponent && updatePasswordComponent.form ? updatePasswordComponent.form.invalid : false"
        (validateEvent)="updatePasswordComponent.validate()"
        [forUpdate]="false"
        (cancelEvent)="disableUpdatePasswordDialog()">
      </app-modal-button>
    </ng-template>
  </p-dialog>
</div>

<app-confirm-password
  [visible]="visibleConfirmPassword"
  [header]="getHeader() | translate: {userName: entity ? entity.userName : ''}"
  [validateButtonLabel]="validateButtonLabel() | translate"
  (validateEvent)="validateAction()"
  (cancelEvent)="disablePasswordConfirmation()">
</app-confirm-password>

