<p-menu #menu [popup]="true" [model]="modalItems"></p-menu>
<p-contextMenu #cm [model]="modalItems"></p-contextMenu>
<p-confirmDialog [position]="deleteConfirmDialogPosition" [key]="constantes.deleteConfirmDialogKey"
                 [baseZIndex]="10000"></p-confirmDialog>

<div class="card" style="margin: 2rem">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">

      <h5 class="p-m-0">{{i18nElement('title') | translate}}</h5>
    </ng-template>

    <div class="p-toolbar-group-left">
      <button *ngIf="hasRole(rolesConstantes.ADD_PROFILE)" pButton pRipple [label]="i18nConstantes.new | translate" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="enableDialog()"></button>
      <button *ngIf="hasRole(rolesConstantes.DELETE_PROFILE)" [disabled]="validateEntries().length === 0" pButton pRipple
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteAllConfimation()"></button>
    </div>

    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target['value'], 'contains')"
                               [placeholder]="(i18nConstantes.search | translate) + '...'"/>
                    </span>
    </ng-template>
  </p-toolbar>


  <p-table #dt [(selection)]="selectedEntities"
           [lazy]="true"
           (onPage)="onPage($event)"
           (onSort)="onSort($event)"
           (onFilter)="onFilter($event)"
           [totalRecords]="provider.getEnvService().totalElement$ | async"
           [resizableColumns]="true"
           columnResizeMode="expand"
           [loading]="loading"
           [globalFilterFields]="['name','description','createdAt']"
           [paginator]="true"
           [rowHover]="true"
           [rowsPerPageOptions]="constantes.rowsPerPageOptions"
           [rows]="constantes.rowsPerPageOptions[0]"
           [filterDelay]="800"
           [showCurrentPageReport]="true"
           [value]="provider.getEnvService().pageElements$ | async"
           [(contextMenuSelection)]="entity"
           [contextMenu]="showcontextMenuOption() ? cm : null"
           [currentPageReportTemplate]="i18nConstantes.toatalElement | translate: {value: provider.getEnvService().totalElement$ | async} "
           dataKey="id"
           [styleClass]="showcontextMenuOption() ?'p-datatable-sm' : ''">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">{{ fieldLabel('name') | translate}}
          <p-sortIcon field="name"></p-sortIcon>
        </th>

        <th pSortableColumn="description">{{ fieldLabel('description') | translate}}
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">{{ i18nConstantes.createdAt | translate}}
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th *ngIf="showcontextMenuOption()">{{i18nConstantes.actions | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profil>
      <tr (contextmenu)="setEntity(profil, $event)" [pContextMenuRowDisabled]="!showItemContextMenu(profil)"
          (click)="setEntity(profil, $event)" [pContextMenuRow]="profil">
        <td>
          <p-checkbox *ngIf="!showItemContextMenu(profil)" [disabled]="true"></p-checkbox>
          <p-tableCheckbox *ngIf="showItemContextMenu(profil)" [value]="profil"></p-tableCheckbox>
        </td>
        <td>{{profil.name}}</td>
        <td>{{profil.description}}</td>
        <td>{{dateHelpers.dateToDMYHMS(profil.createdAt)}}</td>
        <td *ngIf="showcontextMenuOption()">
          <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                  class="p-button-rounded p-button-text" (click)="setEntity(profil,$event, menu)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <!--      <p-button (click)="enableDialog()" type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>-->
      <p-button type="button" icon="pi pi-refresh" (click)="reload()" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
    <!--<ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Au total il y'a {{ provider.getEnvService().totalElement$ | async }} profile.
      </div>
    </ng-template>-->
  </p-table>
</div>

<div *ngIf="showFormDialog">
  <p-dialog (onHide)="desabledDialog()" resizable="true" [(visible)]="showFormDialog" [style]="{width: '450px'}"
            header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <app-profil-form #formComponent
                       [entity]="entity"
                       (updateEvent)="desabledDialog()"
                       (saveEvent)="desabledDialog()">
      </app-profil-form>
    </ng-template>


    <ng-template pTemplate="footer">
      <app-modal-button
        [disabled]="isNotValidForm()"
        (validateEvent)="saveOrUpdate()"
        [forUpdate]="!!entity && !!entity.id"
        (cancelEvent)="desabledDialog()">
      </app-modal-button>
    </ng-template>
  </p-dialog>
</div>


<div *ngIf="showProfileRole">
  <p-dialog (onHide)="desabledRoleOption()" resizable="true" [(visible)]="showProfileRole" header="Product Details"
            [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <app-profil-role [profileRoles]="profileRoles"></app-profil-role>
    </ng-template>

    <ng-template pTemplate="footer">
      <app-modal-button
        [disabled]="false"
        (validateEvent)="setRoles()"
        [forUpdate]="true"
        (cancelEvent)="desabledRoleOption()">
      </app-modal-button>
    </ng-template>
  </p-dialog>
</div>


